.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__card {
  background: #f0f0f0;
  height: 30rem;
  width: 76rem;
  margin: auto;
  padding: 2rem;
  /* box-shadow: 5px 5px 5px #bbbbbb; */
  position: relative;
}

.popup__closer {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #4f709c;
  color: #f0f0f0;
  cursor: pointer;
}
.popup__closer:hover {
  background-color: #213555;
}

.popup__elements {
  display: flex;
  gap: 1.5rem;
}
.popup__elements > div > img {
  height: 26rem;
  width: 25rem;
  object-fit: cover;
}

.popup__heading {
  color: #213555;
  font-size: 1.25rem;
  min-height: 3rem;
}

.popup__category {
  font-size: 1rem;
  margin: 0.1rem 0 1rem 0;
  color: #bbbbbb;
}

.popup__price {
  color: #213555;
  margin: 1rem 0;
}

.popup__description {
  min-height: 11.75rem;
  margin: 1rem 0 0 0;
  line-height: 1.25rem;
}

.popup__card--info {
  padding: 0.25rem;
  word-break: break-all;
}

.popup__card--info hr {
  border-top: 1px solid #bbbbbb;
  width: 45rem;
}

/* .countAndIconSection {
  width: 25rem;
} */
.popup__card--footer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
}
.popup__card--countButton {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background-color: #bbbbbb;
}
.popup__card--footer span,
.cart__card--changeCount span {
  display: inline-block;
  text-align: center;
  min-width: 2.5rem;
}
.popup__card--cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #f0f0f0;
  background: #4f709c;
  height: 2.5rem;
  width: 8rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.popup__card--cartIcon:hover {
  background-color: #213555;
}

.deletePopup__card {
  position: relative;
  background: #f0f0f0;
  height: 12rem;
  width: 24rem;
  margin: auto;
  padding: 2rem;
}

.deletePopup__card p {
  font-size: 1.25rem;
}

.deletePopup__buttons--container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem 0;
}
.deletePopup__buttons--container button {
  height: 2.5rem;
  width: 5.5rem;
  background-color: #4f709c;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.deletePopup__buttons--container button:hover {
  background-color: #213555;
  color: white;
  border: none;
}

.deletePopup__card {
  position: relative;
  background: #f0f0f0;
  height: 12rem;
  width: 25rem;
  margin: auto;
  padding: 2rem;
}
